<!DOCTYPE html>
{% load static %}<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/StudentInfo.css'%}" />
    <script
      src="https://kit.fontawesome.com/7d940a46c3.js"
      crossorigin="anonymous"
    ></script>
    <title>Members Info</title>
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <h3>Members Info</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table width="100%">
            <thead>
              <tr>
                <td>Prof.Pic</td>
                <td>Name</td>
                <td>Designation</td>
                <td>Phone Number</td>
                <td>E-mail</td>
                <td>Details</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img
                    src="{{ member.profile_pic.url }}"
                    alt="{{ member.name }}"
                  />
                </td>
                <td>{{ member.name }}</td>
                <td>{{ member.designation }}</td>
                <td>{{ member.phone_number }}</td>
                <td>{{ member.email }}</td>
                <td>
                  <a href="{% url 'member_detail' student.id %}">View</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
