<!DOCTYPE html>
{% load static %}<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/student-edit-profile.css'%}" />
    <title>Edit Profile</title>
  </head>
  <body>
    <div class="form-div">
      <form class="profile-form" method="POST">
        {% csrf_token %} {{ user_update_form.as_p }}
        <!-- {{ teacher_form.as_p }} -->
        {{ password_form.as_p }}
        <label for="name">Name:</label>
        <input
          type="text"
          placeholder="e.g; John"
          id="name"
          name="name"
          value="{{ user_form.initial.name }}"
        /><br />
        <label for="email">Email:</label>
        <input
          type="email"
          placeholder="example@email.com "
          id="email"
          name="email"
          value="{{ user_form.initial.email }}"
        /><br />
        <input type="submit" value="Update Profile" />
      </form>
    </div>
  </body>
</html>
